body {
    margin: 0;
    font-family: 'Segoe UI';
    background: linear-gradient(135deg, #eef2ff, #f5f3ff);
}

.dashboard {
    display: flex;
}

/* SIDEBAR FIXED */
.sidebar {
    width: 260px;
    height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 20px;
    background: rgba(255,255,255,0.7);
    backdrop-filter: blur(12px);
}

/* MAIN SHIFT */
.main {
    margin-left: 260px;
    padding: 30px;
    flex: 1;
}

/* SIDEBAR TOP */
.sidebar-top {
    background: linear-gradient(135deg, #6d28d9, #9333ea);
    padding: 20px;
    border-radius: 20px;
    color: white;
}

/* MENU */
.menu {
    margin-top: 20px;
}

.menu-item {
    padding: 12px;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 10px;
    transition: 0.3s;
}

.menu-item:hover {
    background: rgba(99,102,241,0.1);
}

.menu-item.active {
    background: rgba(99,102,241,0.2);
}

/* PROFILE */
.profile {
    display: flex;
    gap: 10px;
    align-items: center;
}

.avatar {
    width: 40px;
    height: 40px;
    background: #6d28d9;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

/* LOGOUT */
.logout {
    display: block;
    text-align: center;
    margin-top: 10px;
    padding: 10px;
    background: #ffe4e6;
    color: #e11d48;
    border-radius: 10px;
    text-decoration: none;
}

/* CARDS */
.cards {
    display: flex;
    gap: 20px;
}

.card {
    flex: 1;
    padding: 20px;
    background: white;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.05);
}

/* SECTION */
.section {
    margin-top: 20px;
    padding: 20px;
    background: white;
    border-radius: 15px;
}

/* FORM */
.event-form {
    display: flex;
    gap: 10px;
}

.event-form input {
    padding: 10px;
    border-radius: 8px;
    border: none;
    background: #f3f4f6;
}

.event-form button {
    padding: 10px 20px;
    background: linear-gradient(to right, #4f46e5, #9333ea);
    color: white;
    border: none;
    border-radius: 8px;
}

/* TABLE */
table {
    width: 100%;
    margin-top: 10px;
}

td, th {
    padding: 10px;
    border-bottom: 1px solid #eee;
}